$size: 200px;
.big-img {
  background-image: url('../img/295.png');
  background-size: contain;
  height: $size;
  width: $size;
  display: inline-block;
  background-color: #12345678;
  margin: 0 20px;
}
body > img {
  height: $size;
  width: $size;
}
.icon-ashbin {
  font-size: 40px;
}
